<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Buscar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<!-- Default Searchbar -->
	<ion-searchbar (ionInput)="getItems($event)" ></ion-searchbar>
	<ion-segment (ionChange)="segmentChanged($event)">
	  <ion-segment-button value="num" checked>
	    <ion-label>Numeral</ion-label>
	  </ion-segment-button>
	  <ion-segment-button value="str">
	    <ion-label>Título</ion-label>
	  </ion-segment-button>
	</ion-segment>
	<ion-list *ngIf="isItemAvailable">
	  <ion-item *ngFor="let chapter of qsChapter">
	    {{ chapter.title }}
	  </ion-item>
	</ion-list>
	<ion-list *ngIf="isItemAvailable">
	  <ion-item *ngFor="let chapter of qsContent">
	    {{ chapter.number }}) <div class="" [innerHTML]="content.content | slice:0:30" ></div>
	  </ion-item>
	</ion-list>
</ion-content>
