<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-back-button defaultHref="chapters"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{chapter?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-text [ngStyle]="{'font-size': scale}">
	  <h4 class="ion-text-capitalize">{{chapter?.title}}</h4>
	  <div *ngFor="let content of chapter?.page_content" class="ion-padding" [innerHTML]="content.content"></div>
	</ion-text>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button side="start" class="zoomOutBtn" size="small" [disabled]="!zoomOutActive" (click)="zoomOut()">
      <ion-icon name="remove"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button side="end" class="zoomInBtn" size="small" [disabled]="!zoomInActive" (click)="zoomIn()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
