
<ion-card class="welcome-card">
  <ion-img src="/assets/home.png"></ion-img>
  <ion-card-header class="ion-text-center">
    <ion-card-subtitle class="ion-text-uppercase">{{book?.title|uppercase}}</ion-card-subtitle>
    <ion-card-title class="ion-text-capitalize">{{book?.subtitle}}</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-text-center">
    <p>Elaborada por: <br>
      <b>Pbro. Héctor Pernía, mfc</b></p>

      <p>Con colaboración de: <br>
      <b>Sandra Rodríguez, mfc</b> <br>
      <b>Andy Rodríguez, mfc</b> <br>
      Y los censores eclesiásticos.
      </p>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-img src="/assets/imprimatur.jpg"></ion-img>
</ion-card>