<ion-header>
  <ion-toolbar [color]="selectedBook ? 'primary' : 'warning'">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="changeBook()">
      <ion-icon slot="icon-only" name="refresh"></ion-icon>
    </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Hospitalitos de la Fe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<app-front [book]="book"></app-front>
</ion-content>