<div class="bookSplash" [ngClass]="{'hide': !splash}">
    <img src="{{bookImgName}}">
</div>

<ion-header>
    <ion-toolbar mode="md">
        <ion-title class="home-title">
            Hospitalitos de la Fe
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-img class="welcome" src="/assets/home.png"></ion-img>
        <ion-card-header class="ion-text-center">
            <ion-card-subtitle class="ion-text-uppercase">{{book?.title|uppercase}}</ion-card-subtitle>
            <ion-card-title class="ion-text-capitalize">{{book?.subtitle}}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
            <p>Elaborada por: <br>
                <b>Pbro. Héctor Pernía, mfc</b></p>

            <p>Con colaboración de: <br>
                <b>Sandra Rodríguez, mfc</b> <br>
                <b>Andy Rodríguez, mfc</b> <br> Y los censores eclesiásticos.
            </p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-img src="{{imgImprimatur}}"></ion-img>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="presentActionSheet()">
            <ion-icon name="share"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>