@import '../../theme/animations.scss';
ion-card {
    height: 86vh;
    ion-img {
        height: 100vh;
        overflow: hidden;
        &.welcome {
            max-height: 40vh;
        }
    }
}

ion-fab {
    margin: 1rem .5rem;
    ion-fab-button {
        width: 3rem;
        height: 3rem;
    }
}